[Unit]
Description=Simple WebApp Server
After=network.target

[Service]
Type=simple
EnvironmentFile=-{{ webapp_server_home }}/conf/webapp-server.conf
ExecStart={{ webapp_server_home }}/bin/webapp-server
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target