<?xml version="1.0" encoding="UTF-8"?>

{{ team_name | comment('xml') }}

<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">
  <role rolename="manager-gui"/>
  <role rolename="manager-script"/>
  <role rolename="manager-status"/>
  <role rolename="manager-jmx"/>
  
{% for user in tomcat_users %}
  <user username="{{ user.name }}" password="{{ user.password }}" roles="manager-gui" />
{% endfor -%} 
</tomcat-users>